body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.active{
	/*border-bottom: 2px solid #FF4081;*/
	background: rgb(54, 57, 57);
	
}

fieldset {
	min-width: 0;
	min-height: 3.5em;
	padding: .0em .9em .9em;
	margin: 2em;
	margin-bottom: 1%;
	border: 2px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.227451) 0px 1px 6px, rgba(0, 0, 0, 0.156863) 0px 0px 0px;
	width: 100%;
	
}

.ui-mobile fieldset{
	display: -moz-inline-box;
}

#editor1 {
	height: 42.14em;
	width: 100%;
	border: none;
	text-indent: 1em;
	margin-bottom: 0em;
}

.navbar {
	margin-bottom: 0em;
}

.btn {
	padding: 5px 20px;
	text-transform: none;
}

#navBarAux {
	background: white;
	height: 2%;
}

#navBarTabs {
	height: 40%;
	max-height: 40%;
	background: rgb(55, 58, 58);
}

#piezas {
	border-bottom: rgb(209, 216, 216);
}

#acciones {
	border-bottom: rgb(209, 216, 216);
}

#masFilas{
	position: fixed;
	/*bottom: 77%;*/
	right: 2.5%;
	background: #CDDC39;
	margin-top: -4.7%;
}

#pagEnriquecido{
	background: #E0F2F1;
}

#btnAbajo{
	background: #3F51B5;
}

#btnAplicar{
	background: #00BFA5;
	margin-top: -6%;
	margin-left: 46%;
	border: 2px solid #0FD3B9;
}

#bntArriba{
	background: #00BFA5;
	margin-bottom: 0%;
	margin-top: 4%;
}

.btn-success:not(.btn-link):not(.btn-flat){
	margin-top: 45%;
	color: rgba(253, 252, 252, 0.84);
	background-color: #E23C46;
	margin-left: 27%;
}

.btn-default:not(.btn-link):not(.btn-flat){
	margin-top: 45%;
	color: rgba(116, 114, 114, 0.84);
	margin-left: -2%;
}

.btn-primary:not(.btn-link):not(.btn-flat){
	margin-top: 24%;
}

.btn-info:not(.btn-link):not(.btn-flat){
	margin-right: 2%;
	margin-top: 2%;
}

.btn-danger:not(.btn-link):not(.btn-flat){
	margin-right: 2%;
	margin-top: 2%;	
	background: #FF4081;
}

.btn.btn-fab {
	font-size: 1.4em;
	box-shadow: none;
}

.navbar.navbar, .navbar-default.navbar{
	background: #00BFA5;
}

.btn-primary:not(.btn-link):not(.btn-flat){
	background: #03a9f4;
}

.nav-tabs{
	background: rgb(193, 210, 210);
}

#cke_1_contents {
	height: 70.7vh;
}

#containerFilas{
	width: 100%;
	height: 40.2%;
	overflow-y: scroll;
	position: absolute;
}

#loaderResp{
	height: 2em;
	margin-top: 1em;
	margin-right: 1em;
}

#btnDeshacer{
	margin-top: 13%;
}	

#btnAbajo{
	margin-top: 2%;
	background: #00BFA5;
}

#tabPiezas{
	border-right: 2px solid #6E6E6E;	
}

.deshacer{
	box-shadow: rgba(255, 24, 77, 0.45098) 0px 3px 10px, rgba(0, 0, 0, 0.568627) 0px 3px 10px;
}

/*Marco de arriba*/
#cke_1_top {
	border-bottom: none;
	background-image: -webkit-linear-gradient(top,#00BFA5,#00BFA5);
	border-bottom: none;
	box-shadow: none;
}

/*Marco de abajo*/
.cke_bottom {
	padding: none;
	background: white;
	border-top: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

/*
.nav-tabs>li>a{
	color: #CDDC39!important;
}*/

/*.cke_chrome*/
#cke_editor1{
	border: none;
}

.ui-content {
	/*width: 100%;
	height: 55%;
	display: flex;
	flex-row: row;*/
	padding: 0em;
	margin-top: 0%
}
